html, body, #container {
  height: 100%;
  overflow: scroll;
  width: 100%;
}
.page {
  height: 100%;
  width: 100%;
  background: black;
  z-index: -5;
}

.news {
  position:absolute;
  display: block;
  background: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  opacity: .9;
  margin: 0;
  background: radial-gradient(circle at 20px 20px, #5cabff, #000);
}
.news:active {
  background: red ;
  background: radial-gradient(circle at 20px 20px, #ffffff, #000);
}

.news1 {
  position:absolute;
  display: block;
  background-image:url(./img/blSLYcopy.png);
  opacity: .5;
  /* background: black; */
  border-radius: 50%;
  height: 1200px;
  width: 1200px;
  top:-5px;
  margin: 0;
  /* background: radial-gradient(circle at 200px 200px, #5cabff, #000); */
  z-index: -2;
}

.img {
    max-width: 100%;
    border-radius: 50%;
    height: auto;
    width: auto;

}

.text{
  font-family: Times, Serif;
  color: Black;
  font-weight: bold;
  word-wrap: break-word;
  max-width:350px;
  margin: 25px 50px;
}

.article {
  /* background-image:url(./img/hillsbw.jpg); */
  position:absolute;
  background: white;
  /* font-family: Times, Serif;
  color: Red; */
  font-style: bold;
  border-radius: 50%;
  height: 350px;
  left: 250px;
  top: 90px;
  width: 350px;
  text-align: center;
  word-wrap: break-word;
}

.article1 {
  /* background-image:url(./img/hillsbw.jpg); */
  position:absolute;
  background: white;
  /* font-family: Times, Serif;
  color: Red; */
  font-style: bold;
  border-radius: 50%;
  height: 350px;
  left: 850px;
  top: 400px;
  width: 350px;
  text-align: center;
  word-wrap: break-word;
}

.article2 {
  /* background-image:url(./img/hillsbw.jpg); */
  position:absolute;
  background: white;
  /* font-family: Times, Serif;
  color: Red; */
  font-style: bold;
  border-radius: 50%;
  height: 350px;
  left: 550px;
  top: 820px;
  width: 350px;
  text-align: center;
  word-wrap: break-word;
}

.video {
  position:absolute;
  left: 150px;
  top: 455px;
}

/* .article {
  text-decoration: underline;
  position:absolute;
  display: block;
  background: black;
  border-radius: 50%;
  height: 250px;
  left: 250px;
  top: 90px;
  width: 250px;
  opacity: .9;
  margin: 0;
  border:hidden;
  background: radial-gradient(circle at 20px 20px, #5cabff, #FFF);
} */
